@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

 html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  h1{
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size:x-large;
    letter-spacing: 1px;;
    text-shadow: 0 0 10px #FFFFFF;
  }
  .mainContainer 
  {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    height: 100%;
  }
  .wrapper{
    background-image: url('images/earthBG.jpg');
    background-size:contain;
    text-align: center;
  }
  input[type="text"] {
    padding: 6px;
    width: 400px;
  }
  label{ 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  input[type='submit']{
    width: 6em;
    height: 2.2em;
    color:whitesmoke; 
    background-color: transparent; 
    border: 2px solid #fff1e6; 
    border-radius: 5px; 
    text-transform: uppercase; 
  }  
  .error-message {
      color: red;
  }
  .hidden{
    display:none;
  }
  .group {
    display: flex;
    flex-direction: column;
  }
  .item {
    flex: 1;
    margin: 5px;
  }

/* Desktop style*/
  @media all and (min-width: 800px) {
    .mainContainer {
      width: 80%;
      margin: auto;
    }
  }