* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }

  label{ 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  .red{
    color:red;
  }

  .underline{
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black
  }